/* Global */ 

:root {
  --salmon: #FF8282;
  --backgroundBlue: #1C358C;
  --buttonBlue: #3E4A74;
  --whiteText: #FFF;
}

html {
  font-family: 'Josefin Sans', Verdana, sans-serif;
}

body {
  background: var(--backgroundBlue);
  font: 100%;
  margin: 0;
  padding: 0;
  height: 100vh;
}

main {
  height: 100%;
}

a {
  text-decoration: none;
  color: var(--whiteText);
}

.container {
  padding: 0 1rem;
}

/* Utility classes */

  /* Colours */

  .salmon-color {
    color: var(--salmon);
  }

  .white-color {
    color: var(--whiteText);
  }

  .white-background {
    background: var(--whiteText);
  }

  .blue-color {
    color: var(--backgroundBlue);
  }

  .blue-button-color {
    color: var(--buttonBlue);
  }

  .text-opacity {
    opacity: 0.8;
  }

  /* Flex */

  .flex {
    display: flex;
  }

  .flex-justify-end {
    justify-content: end;
  }

  .flex-justify-space-between {
    justify-content: space-between;
  }

  .flex-justify-space-around {
    justify-content: space-around;
  }

  .flex-justify-center {
    justify-content: center;
  }

  .flex-gap-1-rem {
    gap: 1rem;
  }

  .flex-direction-column {
    flex-direction: column;
  }

  .flex-align-start {
    align-items: start;
  }

  .flex-align-end {
    align-items: end;
  }

  .flex-1 {
    flex: 1;
  }

  .flex-2 {
    flex: 2;
  }

  .flex-3 {
    flex: 3;
  }

  /* Display */ 

  .display-none {
    display: none;
  }

  /* Text align */

  .text-align-center {
    text-align: center;
  }

  /* Margin and padding */

  .image-responsive {
    height: auto;
    width: 100%;
  }

  .margin-center {
    margin: 0 auto;
  }

  .margin-0 {
    margin: 0;
  }

  .padding-top-1-rem {
    padding-top: 1rem;
  }

  .padding-1-rem {
    padding: 1rem;
  }

/* buttons */ 

.blue-white-btn {
  border: 1px solid white;
  padding: 0.75rem 1rem;
  font-size: 0.75rem;
  display: inline-block;
}

.dark-blue-btn {
  background-color: var(--buttonBlue);
  padding: 0.75rem 1rem;
  display: inline-block;
  font-size: 0.75rem;
}

/* Header */ 

header {
  padding-top: 1.5rem;
  padding-right: 1rem;
  text-align: right;
  font-size: 1.5rem;
}

/* Landing page */ 

.frontpage-text-container h2 {
  padding-left: 2rem;
}

.frontpage-text-container p {
  padding-left: 3rem;
}

.frontpage-logos img {
  height: 35px;
}

.frontpage-image {
  padding: 0;
  margin: 0;
}

.frontpage-lower-text {
  padding-left: 1rem;
  padding-right: 1rem;
}

.frontpage-lower-container {
  min-height: 220px;
  margin-top: -4px;
}

.frontpage-text-container h1 {
  padding-left: 1rem;
}

.frontpage-logos {
  padding-right: 1rem;
}

/* About */ 

.about-logos-mobile {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.about-logos-mobile img {
  height: 35px;
}

.about-content {
  padding: 6rem 2rem 0;
  padding-top: 6rem;
}

.about-content a {
  margin-top: 2rem;
}

.about-bottom-and-right-content {
  background: var(--whiteText);
  padding: 3rem;
  margin: 2rem 1rem 0;
}

.about-bottom-and-right-content h1 {
  font-size: 1.5rem;
}


/* Media queries */ 

@media screen and (min-width: 768px) {
  
    /* About */

    .header-desktop-about {
      position: absolute;
      top: 1.5rem;
      left: 3rem;
    }

    .about-logos-mobile {
      display: none;
    }

    .header-desktop-about a {
      font-size: 2rem;
    }

    .about-top-and-left-content img {
      max-width: 332px;
    }

    .flex-desktop-768px {
      display: flex;
    }

    .about-top-and-left-content {
      height: 100vh;
    }

    .about-top-and-left-content img {
      max-width: 85%;
      margin-top: 4rem;
    }

    .about-top-and-left-content a {
      margin-bottom: 6rem;
      font-size: 1rem;
    }

    .about-far-right-content {
      margin-bottom: 8rem;
      padding: 0 1rem;
    }

    .about-bottom-and-right-content h1 {
      font-size: 3rem;
    }

    .about-bottom-and-right-content p {
      font-size: 1.5rem;
    }

}


@media screen and (min-width: 992px) {
  .header-desktop {
    position: absolute;
    top: 0;
    left: 0;
  }

  /* Landing page */

  .frontpage-text-container {
    padding: 3rem;
    flex: 1;
    min-width: 300px;
  }

  .frontpage-content {
    height: 100%;
  }

  .main-desktop {
    display: flex;
  }

  .flex-desktop-992px {
    display: flex;
  } 

  .frontpage-image img {
    padding: 0;
  }

  .desktop-right-content {
    flex: 2;
    background: var(--whiteText);
  }

  .frontpage-text-container h1,
  .frontpage-text-container p {
    font-size: 2.25rem;
    padding-left: 0;
  }

  .frontpage-text-container h2 {
    font-size: 4rem;
    padding-left: 0;
  }

  .frontpage-text-container a {
    font-size: 1rem;
  }

  .frontpage-text-container h1,
  .frontpage-text-container h2,
  .frontpage-text-container p {
    margin: 1rem 0;
  }

  .frontpage-text-container h1 {
    margin-top: 20%;
  }

  .header-desktop {
    top: 1.5rem;
    left: 3rem;
  }

  .header-desktop a {
    font-size: 2rem;
  }

  .frontpage-logos {
    margin-top: auto;
  }

  .frontpage-logos img {
    height: 45px;
  }

  .frontpage-lower-text p {
    max-width: 70%;
    margin: 0 auto;
    padding: 2rem;
    text-align: left;
    font-size: 1.25rem;
  }

  .frontpage-lower-container a {
    font-size: 1rem;
  }

  .frontpage-logos {
    padding-right: 0;
  }

}


@media screen and (min-width: 1200px) {


}


@media screen and (min-width: 1400px) {


}